* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

html {
  font-size: 2vw;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

ul, li {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  background-color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 33.333%;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 8rem;
  margin: 2% 0 0 0;
}

header h2 {
  margin: 0 2% 0;
  font-size: 4rem;
  text-align: right;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  flex-grow: 1;
  padding: 0 0 0 2%;
  background-color: transparent;
  text-align: left;
  outline: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 250ms ease;
}

.active {
  background-color: #fff;
  color: #000;
}

.hi {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('../assets/initial-face.png');
  background-size: cover;
  background-position: 50% 35%;
}

.sections-container {
  position: relative;
  overflow-Y: auto;
  width: 100%;
  height: 66.666%;
  flex-grow: 1;
  background-color: #fff;
}

.sections-container > section {
  height: 100%;
  width: 100%;
  padding: 0 5%;
  background-color: #fff;
}

.sections-container > section * {
  color: #000;
}

.about {
  display: flex;
  align-items: center;
}

.about p {
  margin: 0;
  font-size: 2.6rem;
}

.projects h2, .skills h2 {
  font-size: 3.2rem;
}

.projects a, .projects p, .projects span, .skills li {
  font-size: 2.3rem;
}

.project p a {
  color: #555;
}

.project span a:first-of-type + span {
  display: inline-block;
  transition: all 200ms ease;
}

.project span:hover span {
  transform: rotate(180deg);
  transition: all 200ms ease;
}

.project a:hover {
  text-decoration: underline;
}

.skills li {
  margin-bottom: 6px;
}

.contact {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 7rem;
}

.contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.contact li {
  margin: 2%;
  transition: all 250ms ease;
}

.contact li:hover {
  transform: perspective(100px) translateZ(10px);
  transition: all 250ms ease;
}

.just-because {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  animation: just-because infinite 1s linear;
}

@keyframes just-because {
  0% { background-color:hsl(0, 100%, 73%); }
  10% { background-color:hsl(40, 100%, 73%); }
  20% { background-color:hsl(80, 100%, 73%); }
  30% { background-color:hsl(120, 100%, 73%); }
  40% { background-color:hsl(160, 100%, 73%); }
  50% { background-color:hsl(200, 100%, 73%); }
  60% { background-color:hsl(240, 100%, 73%); }
  70% { background-color:hsl(280, 100%, 73%); }
  80% { background-color:hsl(320, 100%, 73%); }
  90% { background-color:hsl(340, 100%, 73%); }
  100% { background-color:hsl(0, 100%, 73%); }
}

.just-because div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.swirl {
  width: 100%;
  animation: swirl-spin infinite 5s linear;
}

@keyframes swirl-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.school {
  width: 50%;
  animation: school infinite 4s linear;
}

@keyframes school {
  0%, 100% { transform: scale(.1); }
  50% { transform: scale(1); }
}

.scream1 {
  position: absolute;
  animation: scream1-spin infinite 3s linear;
  top: 5%;
  left: 10%;
  width: 15%;
}

@keyframes scream1-spin {
  0% { transform: rotate(0deg) scale(1); }
  50% {transform: rotate(180deg) scale(1.75); }
  100% { transform: rotate(360deg) scale(1); }
}

.scream2 {
  position: absolute;
  animation: scream2-spin infinite 5s linear;
  bottom: -20%;
  left: 5%;
  width: 35%;
}

@keyframes scream2-spin {
  0% { transform: rotate(0deg) scale(1.75); }
  50% { transform: rotate(-180deg) scale(1); }
  100% { transform: rotate(-360deg) scale(1.75); }
}

.scream3 {
  position: absolute;
  animation: scream3-spin infinite 10s linear;
  top: 0;
  right: 0;
  width: 30%;
}

@keyframes scream3-spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(-180deg) scale(1.75); }
  100% { transform: rotate(-360deg) scale(1); }
}

.mask {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 25%;
}

.go-long {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 40%;
}

@media screen and (min-aspect-ratio: 2/3) {
  .contact {
    font-size: 6rem;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  html {
    font-size: .8vw;
  }
  .App {
    flex-direction: row;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
  }

  nav {
    display: block;
    flex-grow: 1;
  }

  @media only screen and (min-width : 569px) {
    nav {
      padding-top: 15%;
    }
  }

  button {
    display: block;
    position: relative;
    width: 100%;
    font-size: 6rem;
  }

  @media not all and (hover: none) {
    button:hover {
      background-color: #222;
      transition: all 300ms ease;
    }
  }

  .sections-container {
    width: 65%;
    height: 100%;
  }

  .about p {
    font-size: 4.5rem;
  }

  .projects h2, .skills h2 {
    font-size: 4.3rem;
  }

  .projects a, .projects p, .projects span, .skills li {
    font-size: 3rem;
  }

  .contact {
    font-size: 11rem;
  }

  .active {
    color: #fff;
    background-color: transparent;
  }

  button::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 12%;
    width: 0;
    height: 6%;
    background-color: #fff;
    transition: all 400ms ease;
  }

  .active::after {
    width: 100%;
    transition: all 400ms ease;
  }
}

@media screen and (min-aspect-ratio: 3/2) {
  html {
    font-size: .7vw;
  }

  h1 {
    font-size: 8.9rem;
  }

  header h2 {
    font-size: 4.5rem;
  }

  .contact {
    font-size: 9rem;
  }
}

@media only screen and (min-width : 1367px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 11rem;
  }

  header h2 {
    font-size: 6.25rem;
  }

  .contact {
    font-size: 11rem;
  }
}