/* NAV BUTTONS ENTER */

.projects-button.nav-enter {
  opacity: 0;
  transform: scale(2);
}

.projects-button.nav-enter-active {
  opacity: 100;
  transform: scale(1);
  transition: all 300ms;
}

.skills-button.nav-enter {
  opacity: 0;
  transform: scale(2);
}

.skills-button.nav-enter-active {
  opacity: 100;
  transform: scale(1);
  transition: all 300ms 100ms;
}

.contact-button.nav-enter {
  opacity: 0;
  transform: scale(2);
}

.contact-button.nav-enter-active {
  opacity: 100;
  transform: scale(1);
  transition: all 300ms 200ms;
}

.justBecause-button.nav-enter {
  opacity: 0;
  transform: scale(2);
}

.justBecause-button.nav-enter-active {
  opacity: 100;
  transform: scale(1);
  transition: all 300ms 300ms;
}

/* NAV BUTTONS LEAVE */

.projects-button.nav-leave {
  opacity: 100;
  transform: scale(1);
}

.projects-button.nav-leave-active {
  opacity: 0;
  transform: scale(2);
  transition: all 300ms 400ms;
}

.skills-button.nav-leave {
  opacity: 100;
  transform: scale(1);
}

.skills-button.nav-leave-active {
  opacity: 0;
  transform: scale(2);
  transition: all 300ms 300ms;
}

.contact-button.nav-leave {
  opacity: 100;
  transform: scale(1);
}

.contact-button.nav-leave-active {
  opacity: 0;
  transform: scale(2);
  transition: all 300ms 200ms;
}

.justBecause-button.nav-leave {
  opacity: 100;
  transform: scale(1);
}

.justBecause-button.nav-leave-active {
  opacity: 0;
  transform: scale(2);
  transition: all 300ms 100ms;
}

.nav-leave-active.active::after {
  width: 0;
  transition: all 200ms ease;
}

/* SECTIONS TOGGLE */

.sections-enter {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.sections-enter-active {
  opacity: 100;
  transition: all 300ms 300ms ease;
}

.sections-leave {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 100;
}

.sections-leave-active {
  opacity: 0;
  transition: all 300ms ease;
}